/********************************************************** 
GENERALS 
***********************************************************/
:root {
	--color-secondary: #0084FD;
	--color-dark: #333333;
	--color-light: #FFFFFF;
	--color-primary: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast: #FCC060;
	--color-text: #424242;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'PT Sans', sans-serif;
    background-color: var(--color-light);
}
.debug{
    border: 1px solid black;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none ;
}

/* CONTENITORI */
    .container{
        padding: 10px;
    }
    .col{
        padding: 10px;
    }
    .card{
        padding: 10px;
    }


/********************************************************** 
UTILITIES 
***********************************************************/
    
    /* Sfondi */
    .bg-light{
        background-color: var(--color-light);
    }
    .bg-card{
        background-color: var(--color-bg-card);
    }
    .bg-primary{
        background-color: var(--color-primary);
    }

    /* Testo */
    .text-dark{
        color: var(--color-dark);
    }
    .text-blue{
        color: var(--color-secondary);
    }
    .text-light{
        color: var(--color-light);
    }
    .text.center{
        text-align: center;
    }
    .line-higth{
        line-height: 1.5;
    }
    .text-uppercase{
        text-transform: uppercase;
    }

    /* Padding */
    .paddx-10{
        padding-left: 10px ;
        padding-right: 10px ;
    }
    .paddx-20{
        padding-left: 20px ;
        padding-right: 20px ;
    }
    .paddy-10{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .paddy-20{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* Bordi */
    .s-border-rad{
        border-radius: 10px;
    }
    .l-border-rad{
        border-radius: 20px;
    }
    .circle{
        border-radius: 50%;
    }

    /* Bottoni */
    .btn{
        padding: 6px 15px;
        border-radius: 15px;
        background-color: var(--color-primary);
        color: var(--color-light);
    }
    .btn-blue{
        background-color: var(--color-secondary);
        color: var(--color-dark);
        padding: 6px 15px;
        border-radius: 15px;
    }
    .btn-blue-cta{
        background-color: var(--color-light);
        color: var(--color-primary);
        padding: 15px 25px;
        border-radius: 15px;
    }





/********************************************************** 
HEADER 
***********************************************************/
header{
    background-color: var(--color-secondary);
    color: var(--color-light);
}




/********************************************************** 
MAIN 
***********************************************************/
main{
    background-color: var(--color-light);
}




/********************************************************** 
FOOTER 
***********************************************************/
footer{
    background-color: var(--color-dark);
    color: var(--color-light);
}




/********************************************************** 
MEDIA QUERY 
***********************************************************/

@media screen and (min-width: 576px){
    /* tablet */
}

@media screen and (min-width: 992px){
    /* tablet con nav bar visibile*/
}

@media screen and (min-width: 1140){
    /* deckstop mettere una max width al contenitore*/
}