/********************************************************** 
GENERALS 
***********************************************************/
:root {
	--color-secondary: #0084FD;
	--color-dark: #333333;
	--color-light: #FFFFFF;
	--color-primary: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast: #FCC060;
	--color-text: #424242;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'PT Sans', sans-serif;
    background-color: var(--color-light);
}
.debug{
    border: 1px solid black;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none ;
}

/* CONTENITORI */
    .container{
        padding: 10px;
    }
    .col{
        padding: 20px;
    }
    .card{
        padding: 10px;
    }


/********************************************************** 
UTILITIES 
***********************************************************/
    
    /* Sfondi */
    .bg-light{
        background-color: var(--color-light);
    }
    .bg-card{
        background-color: var(--color-bg-card);
    }
    .bg-primary{
        background-color: var(--color-primary);
    }

    /* Testo */
    .text-dark{
        color: var(--color-dark);
    }
    .text-blue{
        color: var(--color-secondary);
    }
    .text-light{
        color: var(--color-light);
    }
    .text-purple{
        color: var(--color-primary);
    }
    .text-center{
        text-align: center;
    }
    .line-higth{
        line-height: 1.8em;
    }
    .text-uppercase{
        text-transform: uppercase;
    }

    /* Padding & Margin*/
    .padd{
        padding: 30px;
    }
    .paddx-10{
        padding-left: 10px ;
        padding-right: 10px ;
    }
    .paddx-20{
        padding-left: 20px ;
        padding-right: 20px ;
    }
    .paddx-30{
        padding-left: 30px ;
        padding-right: 30px ; 
    }
    .paddy-10{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .paddy-20{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .paddy-30{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .paddy-40{
         padding-top: 40px;
        padding-bottom: 40px;
    }

    .margin-top{
        margin-top: 40px;
    }

    /* Bordi */
    .s-border-rad{
        border-radius: 10px;
    }
    .l-border-rad{
        border-radius: 20px;
    }
    .xl-border-rad{
        border-radius: 30px;
    }
    .circle{
        border-radius: 50%;
    }

    /* Bottoni */
    .btn{
        padding: 10px 60px;
        border-radius: 30px;
        background-color: var(--color-primary);
        color: var(--color-light);
        cursor: pointer;
        border: none;
    }
    .btn-blue{
        background-color: var(--color-secondary);
        color: var(--color-dark);
        padding: 10px 60px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
    .btn-blue-cta{
        background-color: var(--color-light);
        color: var(--color-primary);
        padding: 15px 25px;
        border-radius: 15px;
        cursor: pointer;
        border: none;
    }


/**********************************************************
CENTERING 
**********************************************************/

.text-center{
    text-align: center;
}
    /* FLEX */
    .d-flex{
        display: flex;
    }
    .wrap{
        display: flex;
        flex-flow: row wrap;
    }
    .s-between{
        justify-content: space-between;
    }
    .aling-center{
        align-items: center;
        align-content: center;
    }
    .column{
        display: flex;
        flex-flow: column wrap;
    }

/********************************************************** 
HEADER 
***********************************************************/
header{
    background-color: var(--color-secondary);
    color: var(--color-light);
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 70px;
    z-index: 1000;
}

#logo{
    width: 80px;
}
.h-open{
    display: none;
}

/********************************************************** 
MAIN 
***********************************************************/
main{
    background-color: var(--color-light);
}

/* SECTION1 */
    .card-text button{
        color: var(--color-light);
        font-size: 1.1em;
    }
    .card-text button i{
        padding-right: 10px;
    }
    #intro{
        margin-top: 80px;
    }
    #intro .card{
        background-color: var(--color-bg-card);
    }
    #intro .card img{
        position: relative;
        top: 10px;
    }

/* SECTION2 */
    #planner{
        background-color: var(--color-primary);
        color: var(--color-light);
    }
    .focus-planner{
        background-color: var(--color-light);
    }
    #planner h4{
        font-size: 1.5em;
    }
    #planner a i{
        background-color: var(--color-primary);
        color: var(--color-dark);
        border-radius: 50%;
        padding: 15px 20px;
    }

/* SECTION3 */
    #testimonials h2{
        font-size: 2em;
    }
    .t-img img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    .t-cards{
        background-color: var(--color-primary);
        color: var(--color-light);
        border-radius: 50px;
    }

/* SECTION4 */
    #benefits{
        background-color: var(--color-primary);
    }
    #benefits h2{
        font-size: 2em;
        color: var(--color-light);   
    }
    .benefits-cards{
        background-color: var(--color-light);
        border-radius: 20px;
        padding: 40px 30px 20px 30px;
    }
    #benefits i, h5{
        color: var(--color-primary);
    }
    #benefits h5{
        font-size: 1.6em;
    }
    #benefits .btn{
        font-size: 1.2em;
    }

/* SECTION5 */
    #about-us h2{
        font-size: 2.5em;
        color: var(--color-primary);
    }
    #about-us p{
        line-height: 2.5em;
    }
    #about-us img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    #claim{
        font-size: 1.8em;
        color: var(--color-primary);
        line-height: 1.4em;
    }
    .ad{
        position: relative;
        width: 200px;
    }
    #quote i{
        position: absolute;
        top: 0;
        right: 0;
        color: var(--color-primary);
    }
    #about-us button{
        padding: 10px 20px;
        border-radius: 30px;
        background-color: var(--color-primary);
        color: var(--color-light);
        cursor: pointer;
        border: none;
        font-size: 1.1em;
    }
/* SECTION6 */
    #cta{
        background-color: var(--color-primary);
        color: var(--color-light);
    }
    .cta-incipit{
        color: rgba(255, 255, 255, 0.4);
    }
    .cta-claim{
        font-size: 2.5em;
    }
    #cta h2{
        color: var(--color-contrast);
        font-size: 4em;
        font-weight: 700;
    }
    #cta p{
        line-height: 1.8em;
    }
    #cta button{
        padding: 15px 80px;
        border-radius: 30px;
        background-color: var(--color-light);
        color: var(--color-primary);
        cursor: pointer;
        border: none;
        font-size: 1.2em;
    }
    #cta ul li a {
        text-decoration: underline;
        color: var(--color-light);
    }
/********************************************************** 
FOOTER 
***********************************************************/
footer{
    background-color: var(--color-dark);
    color: var(--color-light);
}
footer a{
    color: var(--color-primary);
    text-decoration: underline;
}



/********************************************************** 
MEDIA QUERY 
***********************************************************/

@media screen and (min-width: 576px){
    /* tablet */
}

@media screen and (min-width: 992px){
    /* tablet con nav bar visibile*/
}

@media screen and (min-width: 1140){
    /* deckstop mettere una max width al contenitore*/
}