/********************************************************** 
GENERALS 
***********************************************************/
:root {
	--color-secondary: #0084FD;
	--color-dark: #333333;
	--color-light: #FFFFFF;
	--color-primary: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast: #FCC060;
	--color-text: #424242;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'PT Sans', sans-serif;
    background-color: var(--color-light);
}
.debug{
    border: 1px solid black;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none ;
}



/********************************************************** 
UTILITIES 
***********************************************************/






/********************************************************** 
HEADER 
***********************************************************/





/********************************************************** 
MAIN 
***********************************************************/





/********************************************************** 
FOOTER 
***********************************************************/





/********************************************************** 
MEDIA QUERY 
***********************************************************/