/********************************************************** 
GENERALS 
***********************************************************/
:root {
	--color-secondary: #0084FD;
	--color-dark: #333333;
	--color-light: #FFFFFF;
	--color-primary: #9792E4;
	--color-bg-card: #B5DDFF;
	--color-contrast: #FCC060;
	--color-text: #424242;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'PT Sans', sans-serif;
    background-color: var(--color-light);
}
.debug{
    border: 1px solid black;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none ;
}

/* CONTENITORI */
    .container{
        padding: 10px;
    }
    .col{
        padding: 20px;
    }
    .card{
        padding: 10px;
    }


/********************************************************** 
UTILITIES 
***********************************************************/
    
    /* Sfondi */
    .bg-light{
        background-color: var(--color-light);
    }
    .bg-card{
        background-color: var(--color-bg-card);
    }
    .bg-primary{
        background-color: var(--color-primary);
    }

    /* Testo */
    .text-dark{
        color: var(--color-dark);
    }
    .text-blue{
        color: var(--color-secondary);
    }
    .text-light{
        color: var(--color-light);
    }
    .text-center{
        text-align: center;
    }
    .line-higth{
        line-height: 1.5;
    }
    .text-uppercase{
        text-transform: uppercase;
    }

    /* Padding & Margin*/
    .padd{
        padding: 30px;
    }
    .paddx-10{
        padding-left: 10px ;
        padding-right: 10px ;
    }
    .paddx-20{
        padding-left: 20px ;
        padding-right: 20px ;
    }
    .paddx-30{
        padding-left: 30px ;
        padding-right: 30px ; 
    }
    .paddy-10{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .paddy-20{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .paddy-30{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .paddy-40{
         padding-top: 40px;
        padding-bottom: 40px;
    }

    .margin-top{
        margin-top: 40px;
    }

    /* Bordi */
    .s-border-rad{
        border-radius: 10px;
    }
    .l-border-rad{
        border-radius: 20px;
    }
    .xl-border-rad{
        border-radius: 30px;
    }
    .circle{
        border-radius: 50%;
    }

    /* Bottoni */
    .btn{
        padding: 6px 15px;
        border-radius: 15px;
        background-color: var(--color-primary);
        color: var(--color-light);
        cursor: pointer;
    }
    .btn-blue{
        background-color: var(--color-secondary);
        color: var(--color-dark);
        padding: 10px 60px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
    .btn-blue-cta{
        background-color: var(--color-light);
        color: var(--color-primary);
        padding: 15px 25px;
        border-radius: 15px;
        cursor: pointer;
    }


/**********************************************************
CENTERING 
**********************************************************/

.text-center{
    text-align: center;
}
    /* FLEX */
    .d-flex{
        display: flex;
    }
    .s-between{
        justify-content: space-between;
    }
    .aling-center{
        align-items: center;
        align-content: center;
    }

/********************************************************** 
HEADER 
***********************************************************/
header{
    background-color: var(--color-secondary);
    color: var(--color-light);
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 70px;
    z-index: 1000;
}

#logo{
    width: 80px;
}
.h-open{
    display: none;
}

/********************************************************** 
MAIN 
***********************************************************/
main{
    background-color: var(--color-light);
}

/* SECTION1 */
    .card-text button{
        color: var(--color-light);
        font-size: 1.1em;
    }
    .card-text button i{
        padding-right: 10px;
    }
    #intro{
        margin-top: 80px;
    }
    #intro .card{
        background-color: var(--color-bg-card);
    }
    #intro .card img{
        position: relative;
        top: 10px;
    }

/* SECTION2 */
#planner{
    background-color: var(--color-primary);
    color: var(--color-light);
}
.focus-planner{
    background-color: var(--color-light);
}
#planner h4{
    font-size: 1.5em;
}
#planner a i{
    background-color: var(--color-primary);
    color: var(--color-dark);
    border-radius: 50%;
    padding: 15px 20px;
}
/********************************************************** 
FOOTER 
***********************************************************/
footer{
    background-color: var(--color-dark);
    color: var(--color-light);
}




/********************************************************** 
MEDIA QUERY 
***********************************************************/

@media screen and (min-width: 576px){
    /* tablet */
}

@media screen and (min-width: 992px){
    /* tablet con nav bar visibile*/
}

@media screen and (min-width: 1140){
    /* deckstop mettere una max width al contenitore*/
}